
doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title TWEETY
    link(
      rel="stylesheet"
      type="text/css"
      href="app.css"
      )

  body(
    ng-app='tweeety'
    )
    .banner.tweetyBanner(
      style="background-image: url({{banner ? banner : ''}})"
      )

    .wrapper(ui-view='')

      script(src="vendor.js")
      script(src="app.js")
