.container-fluid
  img.twitterProfileImg(ng-src="{{profile.profile_image_url}}")
  .row-fluid
    .span12
      form
        .form-inline.tweetHandleInput
          label(
            for="mention"
            ) Twitter Handle
          input.input-small(
            type="text"
            ng-model="handle"
            placeholder="StackSocial"
            )

          button.btn.btn-tweets(
            ng-click="tweetListCtrl.getTweets(handle)"
            ) Submit
  .row-fluid
    .span12
      ul.list-unstyled
        li.tweetItem(ng-repeat="tweet in tweetListCtrl.tweets")
          span.glyphicon.glyphicon-pencil.tweetPencil
          span(ng-bind-html="tweet.text")
